<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="memorizer.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Memorizer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/vue@3"></script>
    <style>
        body {
            font-family: 'Sora', sans-serif;
        }

        .banglaText {
            font-family: 'Hind Siliguri', sans-serif;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="loginArea" v-if="!authorized">
                <div class="row mt-5">
                    <div class="offset-lg-4 col-lg-4">
                        <form class="bg-success p-3 rounded" @submit.prevent="login()">
                            <h4 class="text-white">Login Here</h4>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label"><span
                                        class="text-white">Username</span></label>
                                <input type="text" class="form-control" v-model="loginForm.username"
                                    id="exampleInputEmail1">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label"><span
                                        class="text-white">Password</span></label>
                                <input type="password" class="form-control" v-model="loginForm.password"
                                    id="exampleInputPassword1">
                            </div>
                            <div class="d-grid gap-2">
                                <button class="btn btn-dark" type="submit">Button</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <main v-else>
                <div class="mt-2 d-flex justify-content-between align-items-end">
                    <h4>All Words <span v-if="words.length">[ {{ words.length }} ]</span></h4>
                    <button class="btn btn-danger btn-sm" @click="logOut()">LogOut</button>
                </div>
                <div class="mb-2 d-flex justify-content-between align-items-end">
                    <div>
                        <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                            <input type="checkbox" class="btn-check" id="english" autocomplete="off" value="english"
                                v-model="colOnOff" />
                            <label class="btn btn-sm btn-outline-primary" for="english">English</label>
                            <input type="checkbox" class="btn-check" id="bangla" autocomplete="off" value="bangla"
                                v-model="colOnOff" />
                            <label class="btn btn-sm btn-outline-primary" for="bangla">Bangla</label>
                        </div>
                    </div>
                    <div>
                        <input type="date" id="date_data" class="form-control" v-model="date_data">
                    </div>
                    <div>
                        <button type="button" @click="shuffle()" class="btn btn-success btn-sm me-2">Randomize
                            Table</button>
                        <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">Add Word</button>
                    </div>
                </div>
                <table class="table table-dark table-bordered table-striped rounded overflow-hidden table-sm">
                    <thead>
                        <tr>
                            <th width="60">SL</th>
                            <th v-if="colOnOff.includes('english')">English</th>
                            <th v-if="colOnOff.includes('bangla')">Bangla</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(word, index) in words" :key="word.id">
                            <td>{{ index + 1 }}</td>
                            <td v-if="colOnOff.includes('english')">{{ word.en_word }}</td>
                            <td class="banglaText" v-if="colOnOff.includes('bangla')">{{ word.bn_meaning }}</td>
                        </tr>
                    </tbody>
                </table>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form @submit.prevent="addWord($event)">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Add Word</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label class="form-label">English Word</label>
                                        <input type="text" class="form-control" v-model="wordForm.en_word" />
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Bangla Meaning</label>
                                        <input type="text" class="form-control" v-model="wordForm.bn_meaning" />
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" ref="Close" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save Word</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        Vue.createApp({
            data() {
                return {
                    words: [],
                    mainWords: [],
                    colOnOff: ["english", "bangla"],
                    wordForm: {},
                    date_data: "",
                    authorized: false,
                    loginForm: {}
                }
            },
            watch: {
                date_data(value) {
                    if (value) {
                        let wordsByDate = this.mainWords.filter(word => {
                            return this.isSameDay(new Date(word.created_at), new Date(value));
                        });
                        this.words = wordsByDate;
                    } else {
                        this.words = this.mainWords;
                    }
                }
            },
            methods: {
                login() {
                    if (this.loginForm.username == 'shamimshakir' && this.loginForm.password == 'Sh@m!mSh@k!r') {
                        window.localStorage.setItem('memorizer', JSON.stringify(this.loginForm));
                        this.authorized = true;
                    }
                },
                shuffle() {
                    let array = this.words;
                    let currentIndex = array.length, randomIndex;
                    while (currentIndex != 0) {
                        randomIndex = Math.floor(Math.random() * currentIndex);
                        currentIndex--;
                        [array[currentIndex], array[randomIndex]] = [
                            array[randomIndex], array[currentIndex]];
                    }
                    this.words = array;
                },
                getWords() {
                    axios.get('https://nextech.readyeshop.com/api/vocs')
                        .then(res => {
                            this.words = res.data.data;
                            this.mainWords = res.data.data;
                        })
                        .catch(function (error) {
                            console.dir(error);
                        });

                },
                isSameDay(d1, d2) {
                    return d1.getFullYear() === d2.getFullYear() &&
                        d1.getDate() === d2.getDate() &&
                        d1.getMonth() === d2.getMonth();
                },
                addWord() {
                    axios.post('https://nextech.readyeshop.com/api/vocs', this.wordForm)
                        .then(response => {
                            alert(response.data.message);
                            this.$refs.Close.click();
                            this.getWords();
                            this.wordForm = {};
                        })
                        .catch(function (error) {
                            console.dir(error);
                        });
                },
                checkLogin() {
                    let storageData = JSON.parse(window.localStorage.getItem("memorizer"));
                    if (storageData) {
                        this.authorized = true;
                    }else {
                        this.authorized = false;
                    }
                },
                logOut(){
                    window.localStorage.removeItem('memorizer');
                    this.authorized = false;
                }
            },
            mounted() {
                this.checkLogin();
                this.getWords();
            }
        }).mount('#app')
    </script>
</body>

</html>
