* {
    margin: 0;
}

.fccForum {
    margin: 40px 10%;
    background: #fff;
    border-radius: 3px;
    padding: 20px 30px;
    box-sizing: border-box;
}

body {
    background: #c3d0ff;
    font-family: "Montserrat", sans-serif;
}

.forumTopics {
    margin-top: 16px;
}

.singleTopic {
    display: grid;
    grid-template-columns: 4% 50% 19% 8% 8% 11%;
    background: #7180d8;
    margin-bottom: 10px;
    color: #fff;
    padding: 10px;
    border-radius: 3px;
    align-items: center;
}

.singleTopic.singleTopicHead {
    background: #3f51b5;
}

.singleTopic.singleTopicHead {
    font-size: 18px;
}

.topicName a {
    color: #fff;
    text-decoration: none;
}

.recentUsers img {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    overflow: hidden;
    margin: 0 2px;
}
.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -60px;
    margin-top: -60px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
